.vs/
.DS_Store
*.userprefs
heleusdata*/
Releases/
.~*
Heleus.Base
Heleus.Base/
Heleus.Website/
Heleus.AppBase/
Heleus.HeleusApp/
Heleus.Message/
Heleus.Note/
Heleus.Services/
Heleus.Status/
Heleus.Todo/
Heleus.Verify/
Heleus.Node/
Heleus.PushService/
